<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>My chat</title>
    <link type="text/css" href="~/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body class="blackground">
    <header>
        <section class="left_header"></section>

        <section class="name">
            <h1 class="display-2 turquoise">My chat</h1>
        </section>

        <section class="right_header"></section>
    </header>

    <article class="content">
        <img src="https://res.cloudinary.com/duzykfess/image/upload/v1627071932/Chat/lock_inmjg5.jpg" class="login" />

        <section class="login_form">
            <form>
                <h1 class="display-4 white centered_text">Login</h1>

                <input type="text" class="input_from blackground white margin_bottom" placeholder="Username..." maxlength="30">
                <input type="password" class="input_from blackground white margin_bottom" placeholder="Password..." maxlength="30">
                <div class="">
                    <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                    <label class="btn btn-outline-light" for="btn-check-outlined">Remember me</label>
                    <button class="btn btn-outline-light ">Log in</button>
                </div>

                <a href="#" class="link-light">Create Account</a>
            </form>
        </section>
    </article>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>
</html>