<img src="https://res.cloudinary.com/duzykfess/image/upload/v1627071932/Chat/lock_inmjg5.jpg" class="login" />

<section class="login_form">
    <form>
        <h1 class="display-4 centered_text white">Login</h1>

        <input type="text" class="input_form blackground white margin_bottom" placeholder="Username..." maxlength="30">
        <input type="password" class="input_form blackground white margin_bottom" placeholder="Password..." maxlength="30">

        <div class="margin_bottom">
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <label class="btn btn-outline-light" for="btn-check-outlined">Remember me</label>
            <input type="submit" class="btn btn-outline-light " value="Log in" />
        </div>

        <a href="#" class="link-light">Create Account</a>
    </form>
</section>