<article class="content_flex">
    <section class="main_left">
        <section class="user_search flex">
            <div class="search_icon centered_text">
                <i class="fas fa-search fa-lg"></i>
            </div>
            <input class="search_input blackground white" type="text" placeholder="Search"  maxlength="25"/>
        </section>
        <section class="all_users">
            <label class="inline white">All users</label>
        </section>
    </section>
    <section class="main_right">

    </section>
</article>